<p>Pastey is a "pastebin" written using <a
href="http://angularjs.org">AngularJS</a>, <a
href="https://github.com/mgonto/restangular">Restangular</a>, <a
href="http://requirejs.org">RequireJS</a>, and <a
href="https://couchdb.apache.org/">CouchDB</a>. It's simply a technology demo,
to learn the afformentioned tools. You can use Pastey under the
terms of the <a href="http://opensource.org/licenses/Artistic-2.0">Artistic
2.0</a> license. The source code is available on <a
href="http://https://bitbucket.org/xenoterracide/pastey-frontend/src">Bitbucket</a>.
However, since it is simply to learn the tools, I wouldn't expect it to be
developped much.</p></p>Pastey has a few known weak area's, there is no
developed couchdb side validation that the md5 hash transmitted is a valid
hash of the code. At the time of this writing the tests no longer pass.</p>
