<p>
<a href="https://bitbucket.org/xenoterracide/pastey-frontend/issues">Issues
can be reported at Bitbucket</a>. You can find me at my blog, <a
href="http://xenoterracide.com">xenoterracide.com</a>.
</p>
