<form ng-controller="Insert" role="form" >
	<div class="form-group">
		<textarea
			id="code"
			class="form-control"
			placeholder="paste code"
			cols="80"
			ng-trim="true"
			ng-model="code"
			required
		></textarea>
	</div>
	<button
		type="button"
		class="btn btn-primary pull-right"
		ng-click="view('/render')"
	>Save</button>
</form>
